body,
html {
  height: 100%;
  color: #ffffff; /* Text color */
}
header {
  position: relative; /* Ensure the header contents are positioned relative to the fixed container */
}
/*.container {
  background-color: #fbf6ec;
  margin-left: 0; 
  margin-right: 1; 
  position: fixed;
  width: 100%;
  z-index: 1000; 
}*/
/* Dropdown Button */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fbf6ec;
  font-family: 'Montserrat, sans-serif';
  min-width: 160px;
  font-size: small;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 8px 0;
  z-index: 1000;
}
.dropdown-menu a {
  display: block;
  padding: 8px 16px;
  color: #333333;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
/* Dropdown Link Hover Effect */
.dropdown-menu a:hover {
  background-color: #f0f0f0;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}
/* Style for the active link */


.active-link {
  position: relative;
  border: 1px solid #5f0003;
  border-radius: 10px;
  background-color: #72000422 !important;
}
.logoheader {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  font-family: 'Montserrat, sans-serif';
  color: #6b4200; /* Text color */
  margin-left: -125px;
}

.logo {
  margin-right: 20px; /* Adjust spacing between logo and title */
}
.logo img{
  width: 250px;
  height: 250px;
}


.bg {
  /* The image used */
  background-color:#fbf6ec;
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav{
  padding-top: 19px;
  margin-right: -30px;
}
.welcome-user {
  color: #000000; /* Text color */
  font-family: Garamond, serif;
  font-weight: bold; /* Bold text */
  padding: 8px 12px; /* Padding around text */
  border-radius: 4px; /* Rounded corners */
  transition: color 0.3s; /* Smooth transition for text color */
}
.nav-link:not(.active-link) {
  background-color: transparent !important;/* Add your desired background color for inactive links here */;
}
.nav-link {
  display: inline-block;
  color: #6b4200 !important;
  font-family: 'Montserrat, sans-serif' !important;
  transition: color 0.3s;
}

.nav-link:hover:not(.active-link){
  color: #dd9d36 !important;
}
.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.social-icons a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: #6b4200;
}
.social-icons a:hover {
  color: #dd9d36 !important;
}
.vertical-line {
  border-right: 0.1px solid #1e1a1448; /* Add border-right to create the vertical line */
  height: 40px; /* Adjust the height of the line as needed */
  color: #000;
}