<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

</head>
<body>
  <h3 *ngIf="authService.isLoggedIn && authService.LoggedInUser.type === 'Client'">Bienvenue {{ (authService.LoggedInUser.name || '') +" " + (authService.LoggedInUser.lastname || '') + " " + "sur notre site web. Rejoignez-nous !"}}</h3>
  <h3 *ngIf="authService.isLoggedIn && authService.LoggedInUser.type === 'Partenaire'">Bienvenue {{ authService.LoggedInUser.lastname + " " + "sur notre site web. Rejoignez-nous !"}}</h3>
  <br>
  <div class="footer-container">
    <div class="width">
        <ul>
            <li>Pages</li>
            <li>
              <a [routerLink]="['/']">Home</a>
            </li>
            <li>
                <a [routerLink]="['/about']">About</a>
            </li>
            <li>
                <a [routerLink]="['/reservation']">Reservations</a>
            </li>
            <li>
                <a [routerLink]="['/contactus']">Contact US</a>
            </li>
        </ul>
        <ul>
            <li>Services</li>
            <li>
                <a [routerLink]="['/']">Hotel Booking</a>
            </li>
            <li>
                <a [routerLink]="['/']">Flight Booking</a>
            </li>
            <li>
                <a [routerLink]="['/']">Car Rental</a>
            </li>
            <li>
                <a [routerLink]="['/']">Tour Packages</a>
            </li>
        </ul>
        <ul>
            <li>Locations</li>
            <li>
                <a [routerLink]="['/']">Paris</a>
            </li>
            <li>
                <a [routerLink]="['/']">New York</a>
            </li>
            <li>
                <a [routerLink]="['/']">Tokyo</a>
            </li>
            <li>
                <a [routerLink]="['/']">London</a>
            </li>
        </ul>
        <ul>
            <li>Help & Support</li>
            <li>
                <a [routerLink]="['/']">FAQs</a>
            </li>
            <li>
                <a [routerLink]="['/contactus']">Customer Support</a>
            </li>
            <li>
                <a [routerLink]="['/termsandconditions']">Terms & Conditions</a>
            </li>
            <li>
                <a [routerLink]="['/privacyandpolicy']">Privacy Policy</a>
            </li>
        </ul>
        <ul>
            <li>Social Media</li>
            <li>
                <a [routerLink]="['/']">Facebook</a>
            </li>
            <li>
                <a [routerLink]="['/']">Twitter</a>
            </li>
            <li>
                <a [routerLink]="['/']">Instagram</a>
            </li>
            <li>
                <a [routerLink]="['/']">LinkedIn</a>
            </li>
        </ul>
    </div>
</div>
<div class="bottom-footer">
    <div class="width">
        <ul>
            <li>
                <a [routerLink]="['/privacyandpolicy']">Privacy & Cookies</a>
            </li>
            <li>
                <a [routerLink]="['/termsandconditions']">Terms of Service</a>
            </li>
            <li>
                <a [routerLink]="['/about']">About Us</a>
            </li>
            <li>
                <a [routerLink]="['/']">© 2024 Silver Booking</a>
            </li>
        </ul>
    </div>
</div>

</body>
</html>

