<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<body>
  <section id="section-1">
    <div class="content-slider">
      <input type="radio" id="banner1" class="sec-1-input" name="banner" [checked]="currentBannerIndex === 0">
      <input type="radio" id="banner2" class="sec-1-input" name="banner" [checked]="currentBannerIndex === 1">
      <input type="radio" id="banner3" class="sec-1-input" name="banner" [checked]="currentBannerIndex === 2">
      <input type="radio" id="banner4" class="sec-1-input" name="banner" [checked]="currentBannerIndex === 3">
      <div class="slider">
        <div id="top-banner-1" class="banner">
          <div class="banner-inner-wrapper">
            <h2>Bienvenue sur votre site Web de réservation idéal</h2>
            <div class="line"></div>
            <h3>Découvrez le Confort et l'Hospitalité à son Meilleur</h3>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="learn-more-button"><a href="#section-2">En savoir plus sur Nos Chambres</a></div>
          </div>
        </div>
        <div id="top-banner-2" class="banner">
          <div class="banner-inner-wrapper">
            <h2>Explorez Nos Chambres Élégantes</h2>
            <div class="line"></div>
            <h3>Découvrez une Gamme d'Accommodations Luxueuses</h3>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="learn-more-button"><a href="#section-3">Voir les Types de Chambres et les Commodités</a></div>
          </div>
        </div>
        <div id="top-banner-3" class="banner">
          <div class="banner-inner-wrapper">
            <h2>Profitez de Commodités Premium</h2>
            <div class="line"></div>
            <h3>Appréciez Nos Services et Installations de Classe Mondiale</h3>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="learn-more-button"><a href="#section-4">Découvrez Nos Commodités Exclusives</a></div>
          </div>
        </div>
        <div id="top-banner-4" class="banner">
          <div class="banner-inner-wrapper">
            <h2>Des Offres Exclusives Rien Que Pour Vous</h2>
            <div class="line"></div>
            <h3>Réservez Maintenant et Économisez sur Votre Séjour</h3>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="learn-more-button"><a href="#section-5">Découvrez Nos Dernières Offres</a></div>
          </div>
        </div>
      </div>
      <nav>
        <div class="controls">
          <label for="banner1"><span class="progressbar"><span class="progressbar-fill"></span></span><span>01</span> Bienvenue</label>
          <label for="banner2"><span class="progressbar"><span class="progressbar-fill"></span></span><span>02</span> Chambres</label>
          <label for="banner3"><span class="progressbar"><span class="progressbar-fill"></span></span><span>03</span> Commodités</label>
          <label for="banner4"><span class="progressbar"><span class="progressbar-fill"></span></span><span>04</span> Offres Spéciales</label>
        </div>
      </nav>
    </div>
  </section>
  
  <div class="quicksearch">
    <button class="btnsrch" (click)="filtragech()"><i class="fas fa-filter"></i> Plus des filtres</button>
    <div class="search-container">
      <div class="input-group">
        <div class="form-group">
          <label for="location-input" style="font-size: small;">Emplacement :</label>
          <input placeholder="E.g. : Tunisie" style="height: 40px; border-color: gray; width: 200px;" class="form-select-lg resized" type="text" id="location-input" [(ngModel)]="searchlocation" (keyup.enter)="searchHotels()">
        </div>
      
        <div class="form-group" *ngIf="filtrage">
          <label for="pname-input" style="font-size: small;">Type d'emplacement :</label>
          <select style="height: 40px; border-color: black;" class="form-select-lg resized" id="pname-input" [(ngModel)]="typeFilter" (keyup.enter)="searchHotels()">
            <option value="Hôtel">Hôtel</option>
            <option value="Maison d'hôtes">Maison d'hôtes</option>
            <option value="EPHAD">EPHAD</option>  
            <option value="Villa">Villa</option>
            <option value="Appartement">Appartement</option>
         </select>
        </div>
        
        <div class="form-group" *ngIf="filtrage">
          <label for="numb" style="font-size: small;">Occupation Maximale :</label>
          <select style="height: 40px; border-color: black;" id="numb" class="form-select-lg resized" [(ngModel)]="maxOccupancy">
            <option [value]="1" class="resized">1 Adulte</option>
            <option [value]="2" class="resized">2 Adultes</option>
            <option [value]="3" class="resized">3 Adultes</option>
            <option [value]="4" class="resized">4 Adultes</option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="romt" style="font-size: small;">Type De Suite :</label>
          <select style="height: 40px; border-color: black; width: 120px;" id="romt" class="form-select-lg resized" [(ngModel)]="selectedRoomType">
            <option value="Family Pack" class="resized">Family Pack</option>
            <option value="Couple Pack" class="resized">Couple Pack</option>
            <option value="Single Room" class="resized">Single Room</option>
            <option value="Double Room" class="resized">Double Room</option>
            <option value="Triple Room" class="resized">Triple Room</option>
            <option value="Quarter Room" class="resized">Quarter Room</option>
          </select>
        </div>
        
        <div class="form-group" *ngIf="filtrage">
          <label for="price-input" style="font-size: small;">Prix maximale (£):</label>
          <input placeholder="£ 0" style="height: 40px; border-color: gray; width: 100px;" min="0" max="999999999" class="form-select-lg resized" type="number" id="price-input" [(ngModel)]="pricefilter" (keyup.enter)="searchHotels()">
        </div>
        
        <button class="btnsrch" (click)="searchHotels()"><i class="fas fa-search"></i></button>
      </div>
      <br>
      <p *ngIf="err" style="color:#6b4200; font-size: medium;">Aucun résultat trouvé ! Cliquez ici pour <a routerLink="/reservation" class="link-danger" style="color:rgb(100, 100, 254)">voir tous les espaces disponibles</a></p>  
    </div>
    
    
    <div class="reservations-section container">
      <div class="slide" *ngFor="let hotell of hotel; let i = index" [hidden]="i !== currenthotelindex">
        <div class="sizedd row slider" *ngIf="hotell.APPROVED">
          <div class="col-md-6 hotel-list hotel-item background-cover" [ngStyle]="{ 'background-image': 'url(' + getBackgroundImage(hotell.image_paths) + ')' }" [class.active]="currentIndex === i">
            <!-- Left side -->
                <div class="" >
                <div class="hotel-details" style="height: 350px !important;">
                  <h2 (click)="onBookRoom(hotell)" style="cursor: pointer; padding-top: 10px; font-size: large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">{{ hotell.HotelName.toUpperCase() }}</h2>
                  <span style="opacity: 90%;" *ngFor="let _ of [].constructor(hotell.StarRating)">
                    <i class="fas fa-star star-icon"></i></span>
                    <span *ngFor="let _ of [].constructor(5-hotell.StarRating)">
                      <i class="fas fa-star star-icontransparent"></i></span>
                </div>
            </div>
          </div>
          <div class="col-md-6 bg" (click)="onBookRoom(hotell)" style="cursor: pointer;">
            <div class="hotel-detailss hotel-list" style="height: 350px;">
              <br>
              <h3 (click)="onBookRoom(hotel)" style="cursor: pointer; color: #8b090da9">{{ hotell.HotelName }}    
                <span *ngFor="let _ of [].constructor(hotell.StarRating)">
                <i class="fas fa-star star-icon"></i></span>
                <span *ngFor="let _ of [].constructor(5-hotell.StarRating)">
                  <i class="fas fa-star star-icontransparent"></i></span></h3>
              <a style="color:#8b090ed5; font-size: 12px;" (click)="checkLocation(hotell.localisation)" target="_blank">{{hotell.City}}, {{hotell.Country}}</a><br><br>
              <p><i style="color: #8b090ed5" class="fas fa-map-marker-alt"></i> {{hotell.City}} {{hotell.Country}}</p>
              <p>{{ hotell.Description }}</p>
            </div>   
            <button class="btn" style="background-color: #8b090ed5; color:white;text-align: center; width: 180px; margin-bottom: 5px;"(click)="onBookRoom(hotell)">Voir plus</button>
          </div>
          <div *ngIf="hotel && hotel.length > 1">
            <button class="arrow" (click)="prevSlide()"> <i class="fas fa-chevron-left"></i></button>
            <span style="font-size: small;"> {{currenthotelindex+1}} / {{hotel.length}} </span> 
            <button class="arrow "  (click)="nextSlide()"><i class="fas fa-chevron-right"></i></button>        <br><br>
          </div>
        </div>


       
      
      </div>
      
          </div>
          
  </div>
  
   
    <section id="section-2" class="welcome-section">
    <div class="section-content">
      
      <div class="text-container">
        <h3 style="color: #720004 !important;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Bienvenue dans Notre Maison d'Hôtes de Luxe</h3>
        <p style="font-family: 'Times New Roman', Times, serif;">Découvrez le Confort et l'Hospitalité à son Meilleur</p>
        <p style="font-family: 'Times New Roman', Times, serif;">Nous vous invitons à vivre une expérience inoubliable dans notre maison d'hôtes de luxe. Avec une attention aux détails et un service exceptionnel, nous vous promettons un séjour aussi confortable que mémorable.</p>
        <div class="button-container">
          <a routerLink="/about" class="learn-more-button">En savoir plus a propos de nous</a>
        </div>
      </div>
      <div class="image-container">
        <img src="assets/images/section-welcome.jpeg" alt="Bienvenue" class="section-image">
      </div>
    </div>
  </section>
  <section id="section-3">
    <div class="section-content">
      <div class="image-container">
        <img src="assets/images/section-chambre.webp" alt="Chambres" class="section-image">
      </div>
      <div class="text-container">
        <h3>Nos Chambres</h3>
        <p>Découvrez nos chambres élégantes et confortables, conçues pour offrir une expérience de séjour exceptionnelle. Que vous voyagiez pour affaires ou pour le plaisir, nos chambres spacieuses et bien aménagées vous offriront tout le confort dont vous avez besoin.</p>
        <p>Nos chambres sont équipées de toutes les commodités modernes, y compris une connexion Wi-Fi gratuite, une télévision à écran plat, un minibar bien approvisionné et bien plus encore pour rendre votre séjour aussi agréable que possible.</p>
      </div>
    </div>
  </section>
  
  <section id="section-4">
    <div class="section-content">
      <div class="image-container">
        <img src="assets/images/section-comodity.jpg" alt="Commodités" class="section-image">
      </div>
      <div class="text-container">
        <h3>Nos Commodités</h3>
        <p>Découvrez nos commodités premium conçues pour rendre votre séjour inoubliable. Profitez d'une variété de services et d'installations de classe mondiale, des restaurants raffinés aux centres de bien-être relaxants.</p>
        <p>Nous nous engageons à vous offrir une expérience exceptionnelle à chaque instant de votre séjour. Profitez de notre piscine extérieure chauffée, de notre spa de luxe, de nos salles de réunion modernes et bien plus encore.</p>
      </div>
    </div>
  </section>
  
  <section id="section-5">
    <div class="section-content">
      <div class="image-container">
        <img src="assets/images/section-offres.avif" alt="Dernières Offres" class="section-image">
      </div>
      <div class="text-container">
        <h3>Offres Spéciales</h3>
        <p>Découvrez nos offres exclusives conçues pour vous offrir une expérience de séjour exceptionnelle à des tarifs avantageux. Que vous voyagiez pour affaires ou pour le plaisir, profitez de réductions spéciales, de forfaits tout compris et d'autres avantages exclusifs.</p>
        <p>Réservez dès maintenant et économisez sur votre prochain séjour avec nous.</p>
      </div>
    </div>
  </section>
  
</body>
