/* General page layout */
body{
  background-image: url('/Senior-Stay-Reservations-System/src/assets/images/hotels/HotelID-2-2024-04-08T08-49-30-924Z-HotelImage$-fourpoints(2).jpg'); /* Replace 'your-image-file.jpg' with the path to your image */
  opacity: 80%;
  background-size: cover;
  margin-top: -24px;
  margin-bottom: -24px;
}
.body1{
   padding-top: 20px;
   padding-bottom: 20px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  /* About section */
  .about-section {
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .about-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
  }
  
  .about-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  .onwen{
    height: 60px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #bd913e75;
    padding-left: 4%;
    color: #ffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: double;
    text-rendering: auto;
    text-shadow: black; 
  }
  .about-section ul {
    list-style: none;
    padding-left: 0;
  }
  
  .about-section ul li {
    margin-bottom: 10px;
  }
  
  .about-section ul li strong {
    font-weight: bold;
  }
  
  /* Add guest house section */
  .add-guest-house-section {
    margin-left: 15%;
    margin-right: 15%;
    background-color: #f8f9faf4;
    padding: 30px 0;
    display: flex;
    align-items: center;
    opacity: 95%;
    justify-content: space-between;
  }
  
  .add-guest-house-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
  }
  
  .add-guest-house-section p {
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .add-guest-house-section img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
  }
  
  /* Responsive adjustments */
@media (max-width: 768px) {
    .about-section h2,
    .add-guest-house-section h2 {
        font-size: 28px;
    }

    .about-section p,
    .add-guest-house-section p {
        font-size: 16px;
    }

    .about-section,
    .add-guest-house-section {
        flex-direction: column;
        text-align: center;
    }
}
.apropos {
  max-width: 900px;
  font-family: Arial, sans-serif; /* Use a professional font */
  font-size: 1.2rem; /* Increase font size for better readability */
  line-height: 1.6; /* Improve line spacing for better readability */
  text-align: justify; /* Justify text for a clean and professional look */
  color: #333; /* Set text color to a dark shade for better contrast */
}