<body>
  <div class="body1">
<section class="add-guest-house-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="apropos">
          <h3 style="  font-family: Garamond, serif !important; padding-left: 7px;"><strong>À propos avec nous</strong></h3>
          <p>Sur le site officiel de Silver Booking, vous pouvez trouver des offres sur des maisons de retraite, des EPHAD, des résidences services, et bien plus encore. 
            <br>Vous pouvez rechercher des établissements en spécifiant vos préférences, telles que la localisation, le prix, les services offerts, etc.
          </p>
          <p>
            Profitez également des places disponibles immédiatement et réservez en ligne ! Visitez toutes les résidences en ligne et comparez leurs caractéristiques pour choisir l'établissement qui vous convient le mieux.
          </p>
          <p>
            Ce concept est constitué de maisons individuelles destinées à des personnes âgées autonomes. Implanté en périphérie d'agglomération ou en milieu rural, il offre un cadre de vie adapté aux seniors. Les résidences services regroupent des logements adaptés pour les seniors autonomes. Vous pouvez louer un appartement ou une maison individuelle, selon vos besoins et votre niveau d'autonomie.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

  <section class="add-guest-house-section">
    <div class="container">

          <h3 style="  font-family: Garamond, serif !important; padding-left: 7px;"><strong>Collaborer avec nous</strong></h3>
          <p>
            Vous avez une maison d'hôtes ou un hébergement adapté aux personnes âgées? Rejoignez notre communauté en ajoutant votre établissement à Maison des Retraités. Nous offrons une plateforme conviviale pour que les propriétaires puissent présenter leurs hébergements et connecter avec des clients potentiels.
          </p>
          <p>
            En ajoutant votre maison d'hôtes à notre site, vous bénéficierez d'une visibilité accrue et d'une opportunité de promouvoir vos services auprès d'un large public. Rejoignez-nous dès aujourd'hui et aidez-nous à offrir des options d'hébergement exceptionnelles pour les personnes âgées.
          </p>

    </div>
  </section>
</div>
</body>