<div class="container centered-content">
    <div class="header">
      <h2 style="color: #720004db">Statistiques globales</h2>
      <!-- Display overall statistics here -->
      <p>Nombre total de réservations: {{ overallStats.totalReservations }}</p>
      <p>Revenu total généré: ${{ overallStats.totalRevenue }}</p>
      <p>Nombre d'utilisateurs en ligne: {{ onlineusers.onlineUsers }}</p>
      <p>Nombre total de listes: {{ overallStats.totalListings }}</p>
    </div>
    <div class="header" style="height: 400px;">
        <p>Cliquez sur les éléments ci-dessous pour choisir le ou les graphiques à afficher:</p>
        <canvas id="lineChart" width="400" height="200"></canvas>
    </div>
  <div class="row">
    <div class="col-md-6">
    <div class="time-period-button">
      <h3 style="color: #ffffffdb">{{ duree }}</h3>
      <button class="time-period-button" [class.active]="selectedTimePeriod === 'last24'" (click)="selectedTimePeriod = 'last24'; fetchStatistics()">Dernières 24 heures</button>
      <button class="time-period-button" [class.active]="selectedTimePeriod === 'lastWeek'" (click)="selectedTimePeriod = 'lastWeek'; fetchStatistics()">La semaine dernière</button>
      <button class="time-period-button" [class.active]="selectedTimePeriod === 'lastMonth'" (click)="selectedTimePeriod = 'lastMonth'; fetchStatistics()">Le mois dernier</button>
      <button class="time-period-button" [class.active]="selectedTimePeriod === 'lastYear'" (click)="selectedTimePeriod = 'lastYear'; fetchStatistics()">L'année dernière</button>
      <div *ngIf="selectedStats" class="selected-stats">
        <!-- Display statistics for selected time period here -->
        <p style="color: black">Nombre total de réservations: {{ selectedStats.totalReservations }}</p>
        <hr style="color: #b30000">
        <p style="color: black">Revenus totaux générés: ${{ selectedStats.totalRevenue }}</p>
        <hr style="color: #b30000">
        <p style="color: black">Nombre total de listes: {{ selectedStats.totalListings }}</p>
      </div>
    </div>
  </div>
    
  <div class="col-md-6">
    <div *ngIf="SelectedType != '0'" class="time-period-button">
      <h3 style="color: #ffffffdb">Totalité des revenus générés par {{SelectedType}}:</h3>
    <button class="time-period-button" [class.active]="SelectedType === 'EPHAD'" (click)="SelectedType = 'EPHAD'; fetchStatistics()">EPHAD</button>
    <button class="time-period-button" [class.active]="SelectedType === 'Hôtel'" (click)="SelectedType = 'Hôtel'; fetchStatistics()">Hotel</button>
    <button class="time-period-button" [class.active]="SelectedType === 'Appartement'" (click)="SelectedType = 'Appartement'; fetchStatistics()">Appartement</button>
    <button class="time-period-button" [class.active]="SelectedType === 'Villa'" (click)="SelectedType = 'Villa'; fetchStatistics()">Villa</button>
    <button class="time-period-button" [class.active]="SelectedType === 'Maison d\'hôtes'" (click)="SelectedType = 'Maison d\'hôtes'; fetchStatistics()">Maison d'hôtes</button>
    <div class="selected-stats">
    <p style="color: black">Nombre total de réservations: {{ filteredstats.totalReservations }}</p>
    <hr style="color: #b30000">
    <p style="color: black">Revenus totaux générés: ${{ filteredstats.totalRevenue }}</p>
  </div> 
</div>   
  </div>
</div>
  