.container {
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
  margin-left: 10%;
  margin-right: 15%;
}

.centered-content {
  text-align: center; /* Center align content */
  width: 80%; /* Adjust width as needed */
}
  .header {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .time-period-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .time-period-button {
    border: none;
    background-color: #d57459;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .time-period-button.active {
    background-color: #b30000;
  }
  
  
  
  .selected-stats {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
  }
  