
<body>
<div class="error-message" *ngIf="authService.LoggedInUser.type === 'Client ' && !authService.IsAdmin"> Seulement les utilisateurs avec un compte de type 'Partenaire' peuvent ajouter leurs proprietés </div>
<div *ngIf="hoteladded" class="text-success" style="text-align: center; background-color: white">
  <p>Merci de nous avoir fait confiance et de choisir la réservation de Silver Booking!</p>
  <p>Votre demande d'ajouter cette proprieté a été envoyée aux administrateurs et ils répondront bientôt!</p>
  <i class="fas fa-check-circle fa-5x"></i> 
  <p>Cliquez ici pour visiter notre <a routerLink="" style="text-decoration: none;">Page D'accueil</a></p>
</div> 
<form  #r="ngForm" class="registration-form" *ngIf="!hoteladded && (authService.LoggedInUser.type !== 'Client' || authService.IsAdmin)">
  <div class="container">
    <div class="row">
      <!-- Left side: Informations Générales -->
      <div class="col-md-6">
        <section class="contact-section">
          <h2 class="section-heading">Informations Générales</h2>
          <!-- General information fields -->
          <div class="form-section">
            <div class="form-group">
              <label style="color: #6b4200" for="OwnerID">Propriétaire: <span style="color:red">*</span></label>
              <input type="text" disabled placeholder="{{this.authService.LoggedInUser.id}} - {{this.authService.LoggedInUser.lastname}} {{this.authService.LoggedInUser.name}}" class="form-control" id="OwnerID">
            </div>
          <div class="form-group">
              <label style="color: #6b4200" for="HotelName">Nom de proprieté: <span style="color:red">*</span></label>
              <input type="text" class="form-control" id="name" required name="HotelName" ngModel>
          </div>
          <div class="form-group">
              <label style="color: #6b4200" for="Email">E-mail: <span style="color:red">*</span></label>
              <input type="text" class="form-control" id="Email" required name="Email" ngModel>
          </div>
          <div class="form-group">
              <label style="color: #6b4200" for="numr">Numéro de téléphone: <span style="color:red">*</span></label>
              <input type="text" class="form-control" id="numr" required name="PhoneNumber" ngModel>
          </div>
          <div class="form-group">
              <label style="color: #6b4200" for="HotelType">Type de proprieté: <span style="color:red">*</span></label><br>
              <select id="HotelType" aria-placeholder="Types des proprietés" class="custom-select" required name="HotelType" ngModel>
                <option disabled selected>Sélectionnez un type</option>
                <option value="Hôtel">Hôtel</option>
                <option value="Maison d'hôtes">Maison d'hôtes</option>
                <option value="Villa">Villa</option>
                <option value="Appartement">Appartement</option>
                <option value="EPHAD">EPHAD</option>
            </select>
          </div>
          <div class="form-group">
              <label style="color: #6b4200" for="Description">Description de proprieté: <span style="color:red">*</span></label>
              <textarea type="text" class="form-control description" id="name" required name="Description" ngModel></textarea>
          </div>
            <!-- Other general information fields -->
          </div>
        </section>
      </div>

      <!-- Right side: Informations sur Votre Espace -->
      <div class="col-md-6">
        <section class="contact-section">
          <h2 class="section-heading">Informations sur Votre Espace</h2>
          <!-- Space information fields -->
          <div class="form-section">
            <div class="form-group">
              <label style="color: #6b4200" for="HotelLocation">Ligne D'adresse 1: <span style="color:red">*</span></label>
              <input type="text" class="form-control" id="HotelLocation" required name="AddressLine1" ngModel>
          </div>
          <div class="form-group">
              <label style="color: #6b4200" for="location2">Ligne D'adresse 2: <span style="color:red">*</span></label>
              <input type="text" class="form-control" id="location2" required name="AddressLine2" ngModel>
          </div>
          <div class="form-group">
            <label style="color: #6b4200" for="Localisation">Coordonnées Géographiques <span style="font-size: smaller; color: rgb(112, 110, 110)">(e.g., "37.7749,-122.4194")</span>: <span style="color:red">*</span></label>
            <input type="text" class="form-control" id="Localisation" required name="localisation" ngModel>
        </div>
          <div class="form-group">
              <label style="color: #6b4200" for="Ville">Ville: <span style="color:red">*</span></label>
              <input type="text" class="form-control" id="Ville" required name="City" ngModel>
          </div>
          <div class="form-group">
              <label style="color: #6b4200" for="Code">Code Postal: <span style="color:red">*</span></label>
              <input type="text" class="form-control" id="Code" required name="PostalCode" ngModel>
          </div>
          <div class="form-group">
              <label style="color: #6b4200" for="Pays">Pays: <span style="color:red">*</span></label>
              <input type="text" class="form-control" id="Pays" required name="Country" ngModel>
          </div>
  
          <div class="form-group">
              <label style="color: #6b4200" for="site">Site Web: <span style="color:red">*</span></label>
              <input type="text" class="form-control" id="site" required name="Website" ngModel>
          </div>
  
          <div class="form-group">
              <label style="color: #6b4200" for="Star">Star Rating: <span style="color:red">*</span></label>
              <input type="text" class="form-control" id="Star" required name="StarRating" ngModel>
          </div>
            <!-- Other space information fields -->
          </div>
        </section>
      </div>
    </div>
<br>
    <!-- Image upload section -->
    <section class="contact-section row">
      <h2 style="text-align: left !important; margin-top: 40px;" class="section-heading">Images de proprieté</h2>
      <div class="form-group">
        <label style="color: #6b4200" for="hotelImages">Clicker ICI pour ajouter des Images: <span class="required">*</span></label>
        <div class="custom-file-input">
          <div *ngIf="!maxuploaded">
          <input  type="file" id="hotelImages" class="form-control" multiple (change)="handleFilesInput($event)">
          <label style="color: #6b4200" for="hotelImages" class="file-label"></label>
          <span class="plus-icon">+</span>
          <div *ngIf="errimg" style="color: red"> Vous ne pouvez pas télécharger plus de 6 images</div>
          </div>
          <button  *ngIf="existantFiles.length == 6" style="font-size: 12px;" style="background-color: #72000486; color:white;" class="btn submit-button" (click)="reupload()">Changes les images</button>
                <br>
            <div *ngIf="existantFiles.length > 0" class="image-preview-container">
              <div *ngFor="let preview of imagePreviews" class="image-preview">
                <img [src]="preview" class="preview-image" />
              </div>
            </div>
            <br>
          
        </div>
      </div>
    </section>
    
<br>
    <!-- Submit button -->
    <div class="form-section">
      <button [disabled]="!r.valid || !existantFiles" style="background-color: #72000486; color:white;" class="btn submit-button" (click)="addHotel(r)">Enregistrer</button>
    </div>
  </div>
</form>  
</body>
