/* General styling */

body{
  background-image: url('/assets/images/hotels/HotelID-2-2024-04-08T08-49-30-924Z-HotelImage$-hyatt(2).jpg'); /* Replace 'your-image-file.jpg' with the path to your image */
  opacity: 80%;
  background-size: cover;
  margin-top: -24px;
  margin-bottom: -24px;
}


.container {
  max-width: 1300px;
  margin: auto;
  padding: 20px;
}

.section-heading {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #6b4200; /* Text color */
  margin-bottom: 20px;
}

.form-section {
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.required {
  color: red;
}
.form-group
.custom-file-input {
  position: relative;
  overflow: hidden;
}

.custom-file-input input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}

.plus-icon {
  display: block;
  width: 100px;
  height: 100px;
  background-color: #f0f0f0;
  text-align: center;
  line-height: 100px;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}
.plus-icon:hover {
  color: #333;
}

/* Add this CSS to your stylesheet */

.image-preview-container {
  display: inline-flex; /* Display images inline */
  flex-wrap: wrap; /* Wrap images to the next line if they exceed container width */
  gap: 10px; /* Spacing between image previews */
}

.image-preview {
  width: 100px; /* Adjust width of each image preview */
}

.preview-image {
  width: 100%; /* Make the image fill its container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

.custom-file-input {
  position: relative;
  overflow: hidden;
}

.custom-file-input input[type="file"] {
  position: absolute;
  font-size: 100px;
  opacity: 0;
  right: 0;
  top: 0;
  cursor: pointer;
}

.row{
  background-color: hsla(0, 0%, 100%, 0.804) !important;
}



.description{
  height: 201px;
}