body {
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: #f8f9fa;
  }
  .container {
    margin-top: 50px;
  }
  .card {
    border: none;
  }

  .card-body {
    padding: 40px;
  }
  .card-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .form-control {
    border-radius: 5px;
    height: 50px;
  }
  .btn-primary {
    border-radius: 5px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .btn-primary:hover {
    background-color: #007bff;
  }