.contact-section {
  margin-top: -24px;
  margin-bottom: -24px;
    text-align: center;
    background-image: url('/assets/images/hotels/HotelID-2-2024-04-08T08-49-30-924Z-HotelImage$-hyatt(2).jpg'); /* Replace 'your-image-file.jpg' with the path to your image */
    opacity: 80%;
    background-size: cover;
  }
  
  .contact-form {
    color: white;
    margin-top: 30px;
  }
  
  .contact-form form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    height: 150px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  