body{
  margin-top: -24px !important;
  margin-bottom: -24px !important;
}

.booking-confirmation{
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
.booking-confirmation p{
  font-size:medium;
  font-family:'Times New Roman', Times, serif
}

section{
  margin-left: 50px;
  margin-right: 50px;
}
.below{
  margin-left: 60px;
  font-size: large;

}
.unavailable {
  background-color: #4e1818 !important; /* Adjust background color as desired */
  color: #333 !important; /* Adjust text color as desired */
  cursor: not-allowed !important; /* Optional: Disable pointer hover on unavailable dates */
}
.container {
  margin-left: 26px;
  display: flex;
  transform: skew(5deg);
  justify-content: space-between; /* Adjust spacing between images */
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
}
.starstyling{
  margin-top: -40px !important;
}
.onwen{
  background-color: rgba(175, 130, 59, 0.436);
  padding-left: 4%;
  color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: double;
  text-rendering: auto;
  text-shadow: black; 
}
.card_title {
  color: black; padding: 0.5em;
  background: rgba(255, 255, 255, 0.75);
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  transition: all 0.5s ease-in-out;
  min-width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0; left: 0;
  font-size: 1em; white-space: nowrap;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: all 1s ease-in-out;
}

.card {
  flex: 1; 
  height: 60vmin;
  transition: all 1s ease-in-out;
  position: relative;
}
.card:hover {
  flex-grow: 10;
}
.card:hover img {
  filter: grayscale(0);
}
.card:hover .card_title {
  text-align: center; color: white;
  top: calc(100% - 2em); font-size: 2em;
  background: rgba(0, 0, 0, 0.5);
  transform: rotate(0deg) skew(-5deg);
}
.card:not(:nth-child(5)) {
  margin-right: 1em;
}
.cardroom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: all 1s ease-in-out;
}

.cardroom {
  flex: 1; 
  height: 40vmin;
  transition: all 1s ease-in-out;
  position: relative;
}
.cardroom:hover {
  flex-grow: 1.5;
}
.cardroom:hover img {
  filter: grayscale(0);
}
.cardroom:hover .cardroom_title {
  text-align: center; color: white;
  top: calc(100% - 2em); font-size: 2em;
  background: rgba(0, 0, 0, 0.5);
  transform: rotate(0deg) skew(-5deg);
}
.cardroom:not(:nth-child(5)) {
  margin-right: 1em;
}

  
  .star-icon {
    font-size: 15px; /* Adjust the size as needed */
    color:rgb(255, 225, 1);
    margin-top: -40px !important;
    }
  .star-icontransparent {
    font-size: 15px; /* Adjust the size as needed */
    color:#c1bcbc;
    border-color: black !important;
    
  }