<div *ngIf="authService.IsAdmin">
  <div class="table-responsive">
    <h2 class="text-center mb-4">LISTE DES CLIENTS ({{userclient}})</h2>
      <table class="table table-striped table-hover">
          <thead class="thead-dark">
              <tr>
                  <th>ID</th>
                  <th>Nom</th>
                  <th>E-mail</th>
                  <th>Genre</th>
                  <th> téléphone </th>
                  <th> Date de naissance </th>
                  <th> Nationalité </th>
                  <th> est admin ?</th>
                  <th> Action </th>
              </tr>
          </thead>
          <tbody>
              <ng-container *ngFor="let user of users" >
                  <tr *ngIf="user.type==='Client'">
                      <td>{{ user.id }}</td>
                      <td>{{ user.username }}</td>
                      <td>{{ user.email }}</td>
                      <td>{{ user.gender }}</td>
                      <td>{{ user.phnumber }}</td>
                      <td>{{ user.dateOfBirth | date: 'dd/MM/yyyy' }}</td>
                      <td>{{ user.Nationality }}</td>
                      <td>
                          <span [ngClass]="{'text-success': user.IsAdmin, 'text-danger': !user.IsAdmin}">
                              {{ user.IsAdmin ? 'Oui' : 'Non' }}
                          </span>
                      </td>
                      <td>
                          <ng-container *ngIf="!isEditing && !user.IsAdmin">
                              <button class="edit-button" (click)="editUser(user)"><i class="fas fa-edit"></i></button>
                              <button class="edit-button" (click)="changeclicked()"><i class="fas fa-trash"></i></button>
                              <div class="popup-container" *ngIf="clickeddelete">
                                <div class="popup">
                                  <span class="close" (click)="closePopup()">&times;</span>
                                  <p>Êtes-vous sûre de vouloir supprimer ce compte ?</p>
                                  <div class="button-container">
                                    <button class="confirm-button" (click)="this.DeleteAccount(user.id)" (click)="getUsers()">Confirmer</button>
                                    <button class="cancel-button" (click)="closePopup()">Annuler</button>
                                  </div>
                                </div>
                              <div class="popup-container" *ngIf="this.deletionerror">
                                <div class="popup">
                                  <span class="close" (click)="closePopup()">&times;</span>
                                  <p>Vous ne pouvez pas supprimer ce compte car il possède une propriété qui est publiée sur le site de réservations.</p>
                                </div>
                              </div>
                              </div>
                            </ng-container>
                          <ng-container *ngIf="isEditing && editedUserData.id === user.id">
                              <button style="background-color: #72000486; color:white;" class="btn btn-success btn-sm" (click)="updateUser(user)">Appliquer</button>
                              <button class="btn btn-secondary btn-sm" (click)="cancelEdit(user)">Annuler</button>
                          </ng-container>
                      </td>
                  </tr>
                  <tr *ngIf="isEditing && editedUserData.id === user.id && user.type==='Client'">
                      <td colspan="9">
            <div class="form-group">
              <label for="username">Nom:</label>
              <input type="text" class="form-control" id="username" [(ngModel)]="editedUserData.username">
            </div>
            <div class="form-group">
              <label for="email">E-mail:</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="editedUserData.email">
            </div>
            <div class="form-group">
                <label for="sexe">Civilité:</label>
                <input type="text" class="form-control" id="sexe" [(ngModel)]="editedUserData.gender">
            </div>
            <div class="form-group">
                <label for="phnumber">Numéro de Téléphone:</label>
                <input type="text" class="form-control" id="phnumber" [(ngModel)]="editedUserData.phnumber">
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Date de naissance:</label>
                <input type="date" class="form-control" id="dateOfBirth" [(ngModel)]="editedUserData.dateOfBirth">
            </div>
            <div class="form-group">
                <label for="Nationality">Nationalité:</label>
                <input type="text" class="form-control" id="Nationality" [(ngModel)]="editedUserData.Nationality">
            </div>
            <div class="form-group">
                <label for="password">Mot De Passe:</label>
                <input type="password" class="form-control" id="password" [(ngModel)]="editedUserData.password">
            </div>

            <div class="form-group">
                <label for="IsAdmin">Admin?</label>
                <select  id="IsAdmin" class="form-control" [(ngModel)]="editedUserData.IsAdmin">
                    <option [value]="0">Non</option>
                    <option [value]="1">Oui</option>
                </select>
            </div>
          </td>
        </tr>
    </ng-container>
</tbody>
</table>
<h2 class="text-center mb-4">LISTE DES PARTENAIRES ({{userpartner}})</h2>
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Compte Verifié</th>
            <th>Admin?</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let user of users">
            <tr *ngIf="user.type==='Partenaire'">
                <td  >{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phnumber }}</td>
                <td>
                    <span [ngClass]="{'text-success': user.username == 'Verified', 'text-danger': user.username != 'Verified'}">
                        {{ user.username ? 'Oui' : 'Non' }}
                    </span>
                </td>
                <td
                >
                    <span [ngClass]="{'text-success': user.IsAdmin, 'text-danger': !user.IsAdmin}">
                        {{ user.IsAdmin ? 'Oui' : 'Non' }}
                    </span>
                </td>
                <td>
                    <ng-container *ngIf="!isEditing && !user.IsAdmin  && user.username != 'Verified'">
                        <button style="background-color: #72000486; color:white;" class="button" (click)="ApproveUser(user)"><i class="fas fa-edit"> Approve User</i></button>
                        <button class="button" (click)="changeclicked()"><i class="fas fa-trash">Reject User</i></button>
                        <div class="popup-container" *ngIf="clickeddelete">
                          <div class="popup">
                            <span class="close" (click)="closePopup()">&times;</span>
                            <p>Êtes-vous sûre de vouloir rejeter et supprimer ce compte ?</p>
                            <div class="button-container">
                              <button style="background-color: #72000486; color:white;" class="confirm-button" (click)="this.RejectAccount(user)" (click)="getUsers()">Confirmer</button>
                              <button class="cancel-button" (click)="closePopup()">Annuler</button>
                            </div>
                          </div>
                        <div class="popup-container" *ngIf="this.deletionerror">
                          <div class="popup">
                            <span class="close" (click)="closePopup()">&times;</span>
                            <p>Vous ne pouvez pas supprimer ce compte car il possède une propriété qui est publiée sur le site de réservations.</p>
                          </div>
                        </div>
                      </div>
                      </ng-container>
                      <ng-container *ngIf="!isEditing && !user.IsAdmin  && user.username == 'Verified'">
                        <button class="edit-button" (click)="editUser(user)"><i class="fas fa-edit"></i></button>
                        <button class="edit-button" (click)="changeclicked()"><i class="fas fa-trash"></i></button>
                        <div class="popup-container" *ngIf="clickeddelete">
                          <div class="popup">
                            <span class="close" (click)="closePopup()">&times;</span>
                            <p>Êtes-vous sûre de vouloir supprimer ce compte ?</p>
                            <div class="button-container">
                              <button style="background-color: #72000486; color:white;" class="confirm-button" (click)="this.DeleteAccount(user.id)" (click)="getUsers()">Confirmer</button>
                              <button class="cancel-button" (click)="closePopup()">Annuler</button>
                            </div>
                          </div>
                        <div class="popup-container" *ngIf="this.deletionerror">
                          <div class="popup">
                            <span class="close" (click)="closePopup()">&times;</span>
                            <p>Vous ne pouvez pas supprimer ce compte car il possède une propriété qui est publiée sur le site de réservations.</p>
                          </div>
                        </div>
                      </div>
                      </ng-container>
                    <ng-container *ngIf="isEditing && editedUserData.id === user.id">
                        <button style="background-color: #72000486; color:white;" class="btn btn-success btn-sm" (click)="updateUser(user)">Appliquer</button>
                        <button class="btn btn-secondary btn-sm" (click)="cancelEdit(user)">Annuler</button>
                    </ng-container>
                </td>
            </tr>
            <tr *ngIf="isEditing && editedUserData.id === user.id && user.type==='Partenaire'">
                <td colspan="9">
      <div class="form-group">
        <label for="prusername">Compte Verifié ?:</label>
        <select  id="prusername" class="form-control" [(ngModel)]="editedUserData.username">
            <option value="Verified">Oui</option>
            <option value="">Non</option>
        </select>
      </div>
      <div class="form-group">
        <label for="prnom">Nom D'organization:</label>
        <input type="text" class="form-control" id="prnom" [(ngModel)]="editedUserData.lastname">
      </div>
      <div class="form-group">
        <label for="premail">Email:</label>
        <input type="email" class="form-control" id="premail" [(ngModel)]="editedUserData.email">
      </div>
      <div class="form-group">
        <label for="prpassword">Mot De Passe:</label>
        <input type="password" class="form-control" autocomplete="new-password" id="prpassword" [(ngModel)]="editedUserData.password">
      </div>
      <div class="form-group">
        <label for="prserial">Serial Number:</label>
        <input type="text" class="form-control" id="prserial" [(ngModel)]="editedUserData.serialnumber">
      </div>
      <div class="form-group">
          <label for="prPays">Pays:</label>
          <input type="text" class="form-control" id="prPays" [(ngModel)]="editedUserData.pays">
      </div>
      <div class="form-group">
        <label for="prVille">Ville:</label>
        <input type="text" class="form-control" id="prVille" [(ngModel)]="editedUserData.ville">
    </div>
    <div class="form-group">
        <label for="prCode">Code Postal:</label>
        <input type="text" class="form-control" id="prCode" [(ngModel)]="editedUserData.codepostal">
    </div>
    <div class="form-group">
        <label for="prAddresse">Addresse:</label>
        <input type="text" class="form-control" id="prAddresse" [(ngModel)]="editedUserData.adresse">
    </div>
      <div class="form-group">
        <label for="prIsAdmin">Admin? ?</label>
        <select  id="prIsAdmin" class="form-control" [(ngModel)]="editedUserData.IsAdmin">
            <option [value]="0">No</option>
            <option [value]="1">Yes</option>
        </select>
    </div>
    </td>
  </tr>
</ng-container>
</tbody>
</table>
</div>
</div>


