.container {
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;  }
  .table-responsive{
    margin-right: 40px;
    margin-left: 40px;

  }
  .table th, .table td {
    border: 0.7px solid #6b4200; /* Add borders to table cells */
    padding: 8px;
    text-align: left;
  }
  .text-center{
    color: #6b4200 !important;
    font-family: 'Montserrat, sans-serif' !important; 
  }
  .table th {
    color: #6b4200 !important;
    font-family: 'Montserrat, sans-serif' !important;
    font-weight: 600;
    background-color: #fbf6ec;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
  }
  
  .table-hover tbody tr:hover {
    background-color: #e9ecef;
  }
  
  .text-success {
    color: #28a745 !important;
  }
  
  .text-danger {
    color: #dc3545 !important;
  }
  .popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.084); /* semi-transparent black background */
    z-index: 9999; /* ensure popup appears above other elements */
  }

  .popup {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* shadow effect */
    max-width: 400px;
    width: 100%;
    text-align: center;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .confirm-button,
  .cancel-button {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .cancel-button {
    background-color: #f44336; /* Red */
  }
  
  .confirm-button:hover,
  .cancel-button:hover {
    opacity: 0.8;
  }
  
  .edit-button,
.apply-button,
.cancel-button {
    background-color: rgba(233, 212, 184, 0.351);
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}